body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* .h {
  height: 730px !important;
} */

header nav {
  height: 80px;
}

header nav img {
  margin-top: 30px;
  margin-left: 40px;
}

header nav ul {
  float: right;
  margin-right: 25px;
}

header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

header nav ul li a {
  position: relative;
  font-size: 18px;
  padding: 5px 0;
  color: #000;
  text-transform: uppercase;
}

header nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

header nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: #000;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (min-width: 1024px) {
}

@media (min-width: 741px) and (max-width: 1023px) {
  header nav img {
    width: 180px;
    margin-top: 33px;
  }

  header nav ul li {
    margin: 0 8px;
  }

  header nav ul li a {
    font-size: 16px;
  }

  header nav ul li a:before {
    background-color: #000;
  }
}

@media (max-width: 740px) {
  label #btn {
    display: block;
  }

  nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 2;
  }

  header > nav > ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
    overflow-x: hidden;
  }

  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  header nav ul li a {
    font-size: 20px;
    color: #fff;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }

  header nav ul li a:before {
    background-color: #fff;
  }
}
/* Slide */
section.slide {
}
/* sản phẩm nổi bật */
section.hot-product {
}

h1 {
  margin-top: 30px;
  padding-bottom: 14px;
  font-size: 34px;
  line-height: 1.47;
  font-weight: 700;
  text-align: center;
}

section.hot-product .content {
  background-color: #f7f7f7;
}

section.hot-product .info-content {
  display: flex;
  padding: 40px 24px;
}

section.hot-product .l {
  padding-right: 21px;
  width: 50%;
}

section.hot-product .l a .content-wrapper {
  height: 608px;
  border-radius: 30px;
  background: url("https://images.samsung.com/is/image/samsung/assets/vn/home/2022/OB_684x684_PC-notext_0704.png?$684_684_PNG$")
    no-repeat;
  background-size: cover;
}

section.hot-product .info-content .r {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

section.hot-product .info-content .r a .content-wrapper-r {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
}

.r > div,
.l > div {
  position: relative;
}

article {
  text-align: center;
  color: #000;
}

article .content-voucher-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 220px;
}

article .content-voucher-title-l {
  padding-top: 40px;
  font-size: 32px;
  font-weight: 700;
}

article .content-voucher {
  font-size: 10.67px;
  margin-top: 8px;
}

article .content-voucher-l {
  font-size: 13.67px;
  margin-top: 8px;
}

article .content-voucher span {
  font-weight: 700;
}

.white {
  color: #fff !important;
}

@media (min-width: 1024px) {
}

@media (min-width: 741px) and (max-width: 1023px) {
  section.hot-product .info-content {
    flex-direction: column;
  }

  section.hot-product .l {
    width: 100%;
    padding-right: 0;
    margin: 0 auto;
  }

  article .content-voucher-title-l {
    padding-top: 40px;
    font-size: 45px;
    font-weight: 700;
  }

  article .content-voucher-l {
    font-size: 20px;
    margin-top: 8px;
  }

  section.hot-product .info-content .r {
    width: 100%;
    margin-top: 20px;
  }

  .r > div {
    height: 330px;
  }

  article .content-voucher-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 260px;
  }
}

@media (max-width: 740px) {
  .mt80 {
    margin-top: 80px;
  }

  h1 {
    font-size: 30px;
  }
  section.hot-product .info-content {
    flex-direction: column;
  }

  section.hot-product .l a .content-wrapper {
    height: 450px;
  }

  section.hot-product .l {
    width: 100%;
    padding-right: 0;
    margin: 0 auto;
  }

  section.hot-product .info-content .r {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  section.hot-product .info-content .r a .content-wrapper-r {
    /* height: 300px; */
    padding: 0 8px;
  }

  .r > div {
    height: 330px;
  }
}

@media (max-width: 400px) {
  section.hot-product .info-content .r {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .r > div {
    height: 300px;
  }
}

/* san pham di dong */

section.phone-product .item-wrapper {
  max-width: 900px;
  /* height: 700px; */
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
  padding-bottom: 15px;
}

section.phone-product .title-list {
  display: flex;
  justify-content: center;
}

section.phone-product .title-list .btn-slide {
  margin: 15px 15px 30px 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.item-wrapper .body-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.body-item .slide-row {
  display: flex;
  width: calc(900px * 4);
  transition: 0.5s;
}

.body-item .slide-row .slide-col {
  max-width: 900px;
  /* height: 418px; */
}

.slide-col .item-img img {
  height: 100%;
  width: 900px;
  /* width: 100%; */
}

.slide-col h4 {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
}

.slide-col .sub-title {
  text-align: center;
  font-size: 17px;
  margin-top: 8px;
  font-weight: 500;
}

.slide-col .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.slide-col .button .btn-find-more {
  margin: 16px;
}
.slide-col .button .btn-buy {
  margin: 16px;
  color: #fff;
  background-color: black;
  padding: 8px 20px;
  border-radius: 45px;
}

.slide-col .button .btn-buy:hover {
  color: #eee !important;
  background-color: #555 !important;
}

@media (min-width: 1024px) {
}

@media (min-width: 741px) and (max-width: 1023px) {
  section.phone-product .title-list .btn-slide {
    margin: 15px 8px 30px 8px;
  }

  .body-item .slide-row {
    width: 400%;
  }

  .body-item .slide-row .slide-col {
    width: 100%;
  }

  .slide-col .item-img img {
    width: 100%;
  }
}

@media (max-width: 740px) {
  /* .h {
    height: 500px !important;
  } */

  section.phone-product .title-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
  }

  section.phone-product .title-list .btn-slide {
    margin: 16px;
    text-align: center;
  }

  section.phone-product .item-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }

  .item-wrapper .body-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .body-item .slide-row {
    display: flex;
    width: 400%;
    transition: 0.5s;
  }

  .body-item .slide-row .slide-col {
    max-width: 100%;
    /* height: 418px; */
  }

  .slide-col h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
  }
  .slide-col .item-img img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  h1 {
    margin-top: 15px;
  }
  /* .h {
        height: 400px!important;
    } */

  section.phone-product .item-wrapper {
    max-width: 100%;
    height: 380px;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
  }

  section.phone-product .item-wrapper {
    padding-bottom: 0;
  }

  .slide-col .item-img img {
    width: 100%;
  }
}

/* section kham pha */

section.explore {
  margin: 15px 30px 45px 30px;
}

section.explore .row-explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.row-explore .col-explore {
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}

.row-explore .col-explore .explore-img {
}

.row-explore .col-explore .explore-img img {
  width: 100%;
  height: 100%;
}

.row-explore .col-explore .explore-title {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  font-weight: 600;
}

.row-explore .col-explore .explore-title .main-title {
  font-size: 26px;
}

.row-explore .col-explore .explore-title .sub-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

@media (min-width: 741px) and (max-width: 1023px) {
  section.explore {
    margin: 15px 15px 45px 15px;
  }

  .row-explore .col-explore .explore-title {
    margin-top: 8px;
  }

  .row-explore .col-explore .explore-title .main-title {
    font-size: 24px;
  }

  .row-explore .col-explore .explore-title .sub-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
  }
}

@media (max-width: 740px) {
  section.explore .row-explore {
    grid-template-columns: 1fr;
  }

  .row-explore .col-explore .explore-title {
    margin-top: 8px;
  }

  .row-explore .col-explore .explore-title .main-title {
    font-size: 20px;
  }

  .row-explore .col-explore .explore-title .sub-title {
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
  }
}

@media (max-width: 400px) {
  section.explore {
    margin: 15px 10px 45px 10px;
  }

  section.explore .row-explore {
    gap: 15px;
  }
}

/* footer */

.footer-first,
.footer-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
}

.footer-first {
  padding: 15px 10px 13px 30px;
}

.footer-last {
  padding: 0 30px 0 10px;
}

.footer-first .address p {
  font-size: 15px;
  line-height: 1.3;
}

.footer-last ul.left {
  padding: 0 21px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-last ul.left li {
  display: block;
}

.footer-last ul.left li a {
  color: #000;
  font-size: 15px;
  display: block;
  padding: 14px 25px 14px 0;
}

.footer-last ul.right {
  display: flex;
  align-items: center;
}

.footer-last ul.right span {
  font-size: 15px;
}

.footer-last ul.right div a {
  font-size: 21px;
  color: #000;
  padding: 14px 0 14px 15px;
}

@media (min-width: 1024px) {
}

@media (min-width: 741px) and (max-width: 1023px) {
  .footer-first {
    flex-direction: column;
    justify-content: start;
  }

  .footer-first .address {
    width: 100%;
  }

  .footer-first .address p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 13px;
    width: 100%;
  }

  .footer-first .tick {
    width: 100%;
  }

  .footer-last ul.left li a {
    font-size: 13px;
    padding: 14px 18px 14px 0;
  }

  .footer-last ul.right span {
    font-size: 13px;
  }
}

@media (max-width: 740px) {
  .footer-first {
    flex-direction: column;
    justify-content: start;
  }

  .footer-first .address {
    width: 100%;
  }

  .footer-first .address p {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 13px;
    width: 100%;
  }

  .footer-first .tick {
    width: 100%;
  }

  .footer-last {
    align-items: unset;
    padding: 0;
  }

  .footer-last ul.left {
    display: block;
    flex-direction: column;
    margin-top: 14px;
    /* margin-left: 20px; */
    margin-left: 30px;
    width: 50%;
    padding: 0;
    border-right: 1px solid #ccc;
  }

  .footer-last ul.left li a {
    font-size: 18px;
    padding: 0 0 7px 0;
  }

  .footer-last ul.right {
    flex-direction: column;
    margin-top: 14px;
    margin-right: 30px;
  }

  .footer-last ul.right span {
    font-size: 18px;
  }

  .footer-last ul.right a {
    font-size: 30px !important;
  }
}

@media (max-width: 400px) {
  .footer-first {
    padding: 0;
    padding: 10px;
  }

  .footer-last {
    flex-direction: column;
  }

  .footer-last ul.left {
    margin-left: 10px;
    border: none;
  }

  .footer-last ul.right {
    margin-left: 10px;
    margin-top: 0px;
    flex-direction: row;
    justify-content: space-between;
  }

 }